.box {
  display: flex;
  justify-content: center;
  align-items:center; 
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-4.0.3&ixid=MnwxM[â€¦]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1750&q=80') no-repeat center center;
  background-size: cover;
}

.input {
  color: #fff;
  padding: 23px;
  background: white;
  border-radius: 50px;
  min-width: 40vw;
  
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input{ /* material ui input className */ 
width: 30vw !important;
}

.mainInfoDiv{
  margin-top: 5%;
}

.countryInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.leftContent{
  height: 100%;
  padding-top: 10px;
  text-align: start;
}
.imgContent{
  position: relative;
  height: 40%;
  width: 100%;
}
.leftContent .leftInfo{
padding-left: 20px;
}
.leftInfo a{
  color: black;
  text-decoration: none;
}
.countryFlag{
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px)
}
.icon{
  position: absolute;
    width: 27px;
    left: 75%;
    cursor: pointer;
}

.infoRight img{
  width: 200px;
}