.favCountries {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}
.favCountry {
width: 500px;
position: relative;
}
.favFlag{
  width: 200px;
}
.icon{
  position: absolute;
}
.favHeader{
  text-align: center;
  width: 100%;
  height: 20vh;
  padding: 20px;
}
.favHeader h2{
  color: white;
  border-bottom: 1px solid white;
  padding-top: 5px;
}
